body {
  background-color: var(--clr-body);
  background-image: url('/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: 100% 200px;
  color: var(--clr-text);
  color-scheme: light dark;
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  line-height: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

footer {
  font-size: var(--fs-100);
  padding-block: 2rem;
}

footer a {
  color: var(--clr-primary-400);
}

@media (min-width: 50rem) {
  body {
    background-image: url('/bg-desktop-dark.jpg');
    background-size: 100% 300px;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url('/bg-mobile-light.jpg');
  }
}

@media (min-width: 50rem) and (prefers-color-scheme: light) {
  body {
    background-image: url('/bg-desktop-light.jpg');
  }
}

.app-container {
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  align-items: start;
}
.app-header {
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.button {
  border: none;
  background: transparent;
  color: var(--clr-text);
}

.todo__list {
  border-radius: 0.25rem;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  margin-bottom: calc(3.125rem + 2rem);
}

.todo__list-items,
.todo__list-items li:first-of-type {
  border-radius: 0.25rem 0.25rem 0 0;
}
.todo__list-items li {
  overflow: hidden;
}

.add-todo,
.todo__list-item {
  align-items: center;
  background-color: var(--clr-bg-elements);
  gap: 0.75rem;
  padding-inline: 1.5rem;
  width: 100%;
}

.add-todo {
  border-radius: 0.25rem;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
  height: 3rem;
}

.todo__list-item {
  height: 3.25rem;
  border-bottom: 1px solid var(--clr-bg-list);
}

.add-todo--text,
.todo__list-description {
  background: transparent;
  border: none;
  color: var(--clr-text);
  outline: none;
  flex: 1;
}

.todo__list-description.done {
  text-decoration: line-through;
  color: var(--clr-bg-list);
}

.add-todo--text::placeholder {
  color: var(--clr-label);
}

.add-todo--checkbox,
.todo__list-checkbox {
  appearance: none;
  background-color: transparent;
  width: 1.25rem;
  height: 1.25em;
  border: 0.125rem solid var(--clr-border);
  border-radius: 100%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

.todo__list-checkbox:checked::before {
  background: var(--clr-primary-gradient);
  content: url('assets/images/icon-check.svg');
  width: 1.25rem;
  height: 1.25em;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.todo-app {
  gap: 1rem;
}

.filter__bar {
  align-items: center;
  background-color: var(--clr-bg-elements);
  color: var(--clr-label);
  font-size: var(--fs-200);
  height: 3.125rem;
  justify-content: space-between;
  padding-inline: 1.5rem;
  border-radius: 0 0 4px 4px;
  position: relative;
}
@media (min-width: 48em) {
  .filter__bar {
    font-size: var(--fs-300);
  }
}

.filter__bar-clear {
  color: var(--clr-label);
  text-align: right;
}

.filters {
  background-color: var(--clr-bg-elements);
  position: absolute;
  width: 100%;
  display: flex;
  top: calc(100% + 1rem);
  height: 3.125rem;
  left: 0;
  justify-content: center;
  gap: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

.filters__tab.active {
  color: var(--clr-primary-400);
  font-weight: 700;
}

@media (min-width: 48em) {
  .todo__close {
    display: none;
  }

  .todo__list-item:hover .todo__close {
    display: initial;
  }
}
