body {
  background-color: var(--clr-body);
  background-image: var(--bg-small-image);
  background-repeat: no-repeat;
  background-size: 100% 200px;
  color: var(--clr-text);
  font-family: var(--ff-body);
  font-size: var(--fs-500);
  line-height: 1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (min-width: 48em) {
  body {
    background-image: var(--bg-large-image);
    background-size: 100% 300px;
  }
}

.app-container {
  grid-template-rows: min-content 1fr min-content;
  min-height: 100vh;
  align-items: start;
}

.button {
  border: none;
  background: transparent;
  color: var(--clr-text);
  cursor: pointer;
}
