body {
  background-color: var(--clr-body);
  background-image: url('/bg-mobile-dark.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--clr-text);
  color-scheme: light dark;
  font-family: var(--ff-body);
  font-size: var(--fs-400);
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.attribution {
  font-size: var(--fs-100);
  text-align: center;
}

.attribution a {
  color: var(--clr-primary-400);
}

@media (min-width: 50rem) {
  body {
    background-image: url('/bg-desktop-dark.jpg');
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-image: url('/bg-mobile-light.jpg');
  }

  @media (min-width: 50rem) {
    body {
      background-image: url('/bg-desktop-light.jpg');
    }
  }
}
