/* CSS reset */

:root {
  --clr-primary-400: hsl(220, 98%, 61%);
  --clr-primary-gradient: linear-gradient(
    to right bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );

  --clr-blue-900: hsl(235, 21%, 11%);
  --clr-blue-800: hsl(235, 24%, 19%);
  --clr-grayish-blue-900: hsl(237, 14%, 26%);
  --clr-grayish-blue-800: hsl(235, 19%, 35%);
  --clr-grayish-blue-700: hsl(233, 14%, 35%);
  --clr-grayish-blue-600: hsl(234, 11%, 52%);
  --clr-grayish-blue-500: hsl(236, 9%, 61%);
  --clr-grayish-blue-400: hsl(233, 11%, 84%);
  --clr-grayish-blue-300: hsl(234, 39%, 85%);
  --clr-grayish-blue-200: hsl(236, 33%, 92%);
  --clr-gray-100: hsl(0, 0%, 98%);

  --clr-text: var(--clr-grayish-blue-300);
  --clr-label: var(--clr-grayish-blue-500);
  --clr-body: var(--clr-blue-900);
  --clr-bg-elements: var(--clr-blue-800);
  --clr-border: var(--clr-grayish-blue-900);
  --clr-bg-list: var(--clr-grayish-blue-700);

  --ff-body: 'Josefin Sans', sans-serif;

  --fs-100: 0.6875rem;
  --fs-200: 0.75rem;
  --fs-300: 0.875rem;
  --fs-500: 1rem;
  --fs-900: 1.75rem;
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-text: var(--clr-blue-900);
    --clr-body: var(--clr-gray-100);
  }
}

@media (min-width: 50em) {
  :root {
    --fs-900: 2.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.container {
  margin-inline: auto;
  width: min(100% - 3rem, 34rem);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.text-gray {
  color: var(--clr-label);
}

.text-white {
  color: var(--clr-gray-100);
}

.bg-gradient {
  background-color: var(--clr-primary-gradient);
}

.fw-bold {
  font-weight: 700;
}

.fs-200 {
  font-size: var(--fs-200);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-900 {
  font-size: var(--fs-900);
}

.lh-heading {
  line-height: 1.1;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.uppercase {
  text-transform: uppercase;
}

.ls-900 {
  letter-spacing: 0.37em;
}

.display-none {
  display: none;
}

.text-center {
  text-align: center;
}
