.todosContainer {
  border-radius: 0.25rem;
  box-shadow: 0px 25px 20px -20px var(--clr-box-shadow);
  margin-bottom: calc(3.125rem + 2rem);
}

.todosList,
.todosList li:first-of-type {
  border-radius: 0.25rem 0.25rem 0 0;
}

.todosList li {
  overflow: hidden;
}

.appContainer {
  gap: 1rem;
}

.todosFooter {
  align-items: center;
  background-color: var(--clr-bg-elements);
  color: var(--clr-label);
  font-size: var(--fs-200);
  height: 3.125rem;
  justify-content: space-between;
  padding-inline: 1.5rem;
  border-radius: 0 0 4px 4px;
  position: relative;
}

.todosFooter .button:hover {
  color: var(--clr-text-hover);
}

.todosFooterClear {
  color: var(--clr-label);
  text-align: right;
}

@media (min-width: 48em) {
  .todosContainer {
    margin-bottom: 4rem;
  }

  .appContainer {
    gap: 1.5rem;
  }

  .todosFooter {
    font-size: var(--fs-300);
  }
}
